/* AuthForm.css */

.AuthForm {
    margin: 20px auto;
    max-width: 400px;
    padding: 15px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .AuthForm h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }




  .form-label {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .btn-primary {
    background-color: #051d75;
    color: #fff;
    padding: 8px 16px;
  }

  .btn-primary:hover {
    background-color: #849bf8;
  }

  .d-grid {
    margin-top: 20px;
  }