/* Navigation.css */

.navbar {
  background: #0c0c0c;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link,
.navbar-brand-pantry {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration:wavy;

}

.nav-item.active .nav-link,
.navbar-brand-pantry.active {
  font-weight: bold;
}