@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
.CompanyCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 120px;
  text-decoration: none;
  color: #333;
  background-image: url("../image/food.png");
}

.CompanyCard:hover {
  border-color: #007bff;
}

.CompanyCard h6 {
  font-size: 100px;
  margin: 0;
  color: white;
}

.CompanyCard p {
  font-size: 14px;
  color: #777;
}

.CompanyCard img {
  max-width: 100px;
  margin-left: 10px;
}

/* CompanyList */
.CompanyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

/* CompanyDetail */
.CompanyDetail {
  margin-top: 20px;
}

.CompanyDetail h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.CompanyDetail p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

th {

  color: white;
  font-weight: bold;
}

th {
  padding: 10px;

  text-align: left;
  font-size: 18px;
}



.img {
  height: 100%;
  background-image: url("../image/food.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}






table {
  border-collapse: collapse;
}


